

.shiny_boi {
    --bgColor: var(--color, rgba(255, 255, 255, 0.5));
    content: '';
    pointer-events: none;
    top: 50%;
    left: 50%;
    transition: opacity 0.3s linear;
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 100%;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.45) 5%, rgba(255,255,255,0.4) 10%, rgba(255,255,255,0.35) 15%, rgba(255,255,255,0.3) 20%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.1) 30%, rgba(255,255,255,0.05) 35%, rgba(255,255,255,0) 40%);
    opacity: 0.2;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
}
  