@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.will-change-transform {
    will-change: transform;
  }

html {
  scroll-behavior: smooth;
}

.body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
  
.cursor::after {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
  }
   
  @keyframes cursor {
    0%,
    40% {
      opacity: 1;
    }
   
    60%,
    100% {
      opacity: 0;
    }
  }